body{
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans SC', sans-serif;
}
.nav-child a{
    padding: 0;
    margin: 0;
}
.nav-child a:hover{
    color: red;
    border-bottom: 1px solid red;
}
.icon-user:hover{
    color: red;
}
.logo-cow{
    transition: 0.4s ease-in;
}
.logo-cow:hover{
    transform: scale(0.8);
}

.slider-section{
    margin-top: 100px;
}
.section-title{
    position: relative;
    padding: 15px 0;
}
.section-title::after{
    content: " ";
    width: 100px;
    border: 3px solid red;
    position: absolute;
    top: 100%;
    left: 45%;
}
.bg-light-animal{
    background-color: lightgray;
    transition: 0.5s ease-in;
}
.bg-light-animal:hover{
    background-color: red;
    color: #fff;
}
.animal-img{
    transition: 0.5s ease-in;
}
.bg-light-animal:hover .animal-img{
    background-color: #fff;
}
.section-title-h2{
    position: relative;
}
.section-title-h2::after{
    content: " ";
    width: 100px;
    border: 3px solid red;
    position: absolute;
    top: 100%;
    left: 0;
}
.talika{
    position: relative;
    transition: 0.6s ease-in;
}
.talika-img{
    overflow: hidden;
    transition: 0.5s linear;
}
.small-image{
    transition: 0.5s ease-in;
}
.talika:hover .small-image{
    transform: scale(1.1);
}
.talika-title{
    display: none;
    position: absolute;
    top: 0px;
    color: #fff;
    background-color: #ff000075;
    padding: 35px 40px;
}
.talika:hover .talika-title{
    display: block;
}
.card-images{
    overflow: hidden;
}

.card-img{
    transition: 0.6s ease-in;
    overflow: hidden;
}
.card-img:hover{
    transform: scale(1.1);
}
.nmbr,.love{
    transition: 0.5s ease-out;
    background-color: lightgray;
    border: 1px solid lightgray;
}
.nmbr:hover{
    background-color: red;
    border: 1px solid red;
    color: #fff;
}
.love:hover{
    background-color: red;
    border: 1px solid red;
    color: #fff;
}
.cow{
    position: relative;
}
.cow::after{
    content: " ";
    width: 50px;
    border: 3px solid red;
    position: absolute;
    top: 100%;
    left: 0;   
}
.qurbani{
    position: relative;
}
.qurbani::after{
    content: "";
    position: absolute;
    width: 100px;
    border:2px solid red;
    bottom: 0;
    left: 0;
    right: 0;
}
.city-img{
    position: relative;
    transition: 0.8s ease-in;
}
.city{
    position: absolute;
    top: 240px;
    left: 90px;
    font-size: 30px;
    color: red;
}
.city-img:hover{
    transform: rotateY(360deg);
}
.city::after{ 
    content: "";
    position: absolute;
    width: 50px;
    border: 2px solid red;
    bottom: 0;
    left: 0;
    right: 0;
    
} 
.footer-icon{
    color: #fff;
    transition: 0.6s ease-in;
}
.footer-icon:hover{
    color: red;
}
.dital-hat{
    position: relative;
}
.dital-hat::after{
    content: "";
    position: absolute;
    width: 80px;
    border: 3px solid red;
    bottom: 0;
    left: 0;
    right: 0;
}
.dital-hat-li{
    color: #fff;
    transition: 0.6s ease-in;
    cursor: pointer;
}
.dital-hat-li:hover{
    color: red;
}
